.team {
  padding: 94px 0;
  background-color: $bg-section-second;
}
.team__text-cont {
  background-color: $light-text;
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text;
}
.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text;
}
.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* dfd */
.team__text {
  display: block;
  font-weight: 400px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text;
}
.team__text-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}
